/* src/css/ChatGPT.css */

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #e1bee7, #f3e5f5);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.chat-container > * {
  width: 80%;
}

h1 {
  color: #6a1b9a;
  margin-bottom: 20px;
  text-align: center;
}

.chat-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  height: 100px;
  resize: vertical;
}

.chat-button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #8e24aa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  height: 50px;
}

.chat-button:hover {
  background-color: #6a1b9a;
}

.response-container {
  width: 100%;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-top: 20px;
}

.loading-container .MuiCircularProgress-root {
  color: #8e24aa;
}

.loading-container .MuiTypography-root {
  margin-top: 16px;
  color: #424242;
  font-size: 18px;
  text-align: center;
}
